@import "../../../paleta.scss";
:host{
	section{
		padding: 0 0 0 5px;
		cursor: pointer;
		&:hover{
			h4, content, footer, b{
				color: $rojoHoverAcciones;
			}
		}
		.textoFecha{
			text-align: right;
		}
	}
}