@import "../../../paleta.scss";
:host{
	section{
		padding: 0 0 0 5px;
		border-bottom: 1px solid $gris1;
		color: $gris1;
		&:hover{
			h4, content, footer{
				color: $rojoHoverAcciones;
			}
		}
		.textoFecha{
			text-align: right;
		}
	}
}