<ul>
	<li>
		<section>
			<img src="../../assets/perfil.jpg" alt="Foto de perfil">
		</section>
	</li>
	<li>
		<section>
			Jesús María Berisa Nuñez
		</section>
	</li>
	<li>
		<section>
			Full stack developer.
			<br />Angular/React/Vuejs NodeJs/Java
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="fab fa-github fa-2x" (click)="link('github')"></i>
			</span>
			<span>
				<i class="fab fa-linkedin fa-2x" (click)="link('linkedin')"></i>
			</span>
		</section>
	</li>
	<li>
		<section (click)="link('home')">
			<span>
				<i class="fas fa-home fa-lg"></i>
			</span>
			<span>
				<b>
					Home
				</b>
			</span>
		</section>
	</li>
	<li>
		<section (click)="link('cv')">
			<span>
				<i class="fas fa-id-card fa-lg"></i>
			</span>
			<span>
				<b>
					CV
				</b>
			</span>
		</section>
	</li>
	<li>
		<section (click)="link('proyectos')">
			<span>
				<i class="fas fa-briefcase fa-lg"></i>
			</span>
			<span>
				<b>
					Proyectos
				</b>
			</span>
		</section>
	</li>
	<li>
		<section (click)="link('contacto')">
			<span>
				<i class="far fa-address-book fa-lg" ></i>
			</span>
			<span>
				<b>
					Contacto
				</b>
			</span>
		</section>
	</li>
</ul>