:host{
	ul{
		margin: unset;
		height: 100%;
		li{
			border: 1px solid black;
			display: flex;
			justify-content: center;
			align-items: center;
			&:nth-child(1){
				height: 20%;
			}
			&:nth-child(2){
				height: 5%;
			}
			&:nth-child(3){
				height: 10%;
			}
			&:nth-child(4){
				section{
					width: 100%;
					display: flex;
					justify-content: space-evenly;
				}
				height: 5%;
			}
			&:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9){
				height: 7%;
				section {
					display: flex;
					justify-content: center;
					width: 100%;
					height: 10%;
					span{
						&:nth-child(1){
							width: 50%;
							display: flex;
							justify-content: end;
						}
						&:nth-child(2){
							width: 70%;
							display: flex;
							justify-content: start;
							margin: 0 0 0 20px;
						}
					}
				}
			}
		}
	}
}