<ul>
	<li>
		<section>
			Foto
		</section>
	</li>
	<li>
		<section>
			Nombre
		</section>
	</li>
	<li>
		<section>
			Descripcion
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="fab fa-github fa-2x"></i>
			</span>
			<span>
				<i class="fab fa-linkedin fa-2x"></i>
			</span>
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="fas fa-home fa-lg"></i>
			</span>
			<span>
				Home
			</span>
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="fas fa-id-card fa-lg"></i>
			</span>
			<span>
				CV
			</span>
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="fas fa-briefcase fa-lg"></i>
			</span>
			<span>
				Proyectos
			</span>
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="far fa-address-book fa-lg"></i>
			</span>
			<span>
				Contacto
			</span>
		</section>
	</li>
</ul>