@import "../../paleta.scss";
:host{
	ul{
		margin: unset;
		height: 100%;
		li{
			display: flex;
			justify-content: center;
			align-items: center;
			&:nth-child(1){
				section > img{
					border: 2px solid $gris1;
					border-radius: 50%;
					height: 98px !important;
					width: 98px;
				}
				height: 20%;
			}
			&:nth-child(2){
				height: 5%;
			}
			&:nth-child(3){
				height: 10%;
				text-align: center;
			}
			&:nth-child(4){
				border-bottom: 1px solid $gris1;
				border-top: 1px solid $gris1;
				section{
					width: 100%;
					display: flex;
					justify-content: space-evenly;
					.fa-github:hover{
						cursor: pointer;
						color: $rojoHoverAcciones;
					}
					.fa-linkedin:hover{
						cursor: pointer;
						color: $rojoHoverAcciones;
					}
				}
				height: 10%;
			}
			&:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9){
				height: 7%;
				section {
					display: flex;
					justify-content: center;
					width: 100%;
					height: 10%;
					cursor: pointer;
					span{
						&:nth-child(1){
							width: 50%;
							display: flex;
							justify-content: end;
						}
						&:nth-child(2){
							width: 70%;
							display: flex;
							justify-content: start;
							margin: 0 0 0 20px;
						}
					}
					&:hover{
						span{
							color: $rojoHoverAcciones;
							i {
								color: $rojoHoverAcciones;
							}
						}
					}
				}
			}
			&:nth-child(n) > section{
				height: 100%;
				display: flex;
				align-items: center;
				& > span {
					display: flex;
					align-items: center;
				}
			}
			a {
				color: inherit; /* blue colors for links too */
				text-decoration: inherit; /* no underline */
			}
		}
	}
}