<ul>
	<li>
		<section>
			Foto
		</section>
	</li>
	<li>
		<section>
			Nombre
		</section>
	</li>
	<li>
		<section>
			Descripcion
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="fab fa-github fa-2x"></i>
			</span>
			<span>
				<i class="fab fa-linkedin fa-2x"></i>
			</span>
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="fas fa-home fa-lg"></i>
			</span>
			<span>
				<b>
					<a href="www.google.es">
						Home
					</a>
				</b>
			</span>
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="fas fa-id-card fa-lg"></i>
			</span>
			<span>
				<b>
					<a href="www.google.es">
						CV
					</a>
				</b>
			</span>
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="fas fa-briefcase fa-lg"></i>
			</span>
			<span>
				<b>
					<a href="www.google.es">
						Proyectos
					</a>
				</b>
			</span>
		</section>
	</li>
	<li>
		<section>
			<span>
				<i class="far fa-address-book fa-lg" ></i>
			</span>
			<span>
				<b>
					<a href="www.google.es" >
						Contacto
					</a>
				</b>
			</span>
		</section>
	</li>
</ul>