@import "../../../paleta.scss";
:host{
	div{
		display: flex;
		flex-direction: row;
		section{
			padding: 0 10px 0 15px;
			&:nth-child(1){
				width: 80%;
				overflow-y: auto;
				height: 100vh;
			}
			&:nth-child(2){
				max-width: 20%;
				body {
					display: flex;
					flex-direction: column;
					overflow-y: auto;
					height: 85vh;
					padding: 0 0 10px 0;
					a {
						cursor: pointer;
						color: unset;
						margin: 5px 0 5px 0;
						&:hover{
							color: $rojoHoverAcciones;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}