@import "../../../paleta.scss";
:host{
	div{
		display: flex;
		flex-direction: row;
		section{
			&:nth-child(1){
				width: 80%
			}
			&:nth-child(2){
				display: flex;
				flex-direction: column;
			}
		}
	}
}