.container{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	max-width: unset;
}
.navegacion-izquierda{
	min-width: 10%;
	width: 25%;
	border: 1px solid blue;
	height: 95vh;
}
.columna-centro{
	min-width: 80%;
	width: auto;
	border: 1px solid red;
	height: 95vh;
}