@import "../paleta.scss";
html, body {margin: 0; height: 100%; overflow: hidden}
.container{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	max-width: unset;
}
.navegacion-izquierda{
	min-width: 10%;
	width: 25%;
	border-right: 1px solid $gris2;
	height: 100vh;
}
.columna-centro{
	min-width: 80%;
	width: auto;
	height: 100vh;
	overflow: scroll;
}