@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';
@import './paleta.scss';

body{
	font-family: 'Source Sans Pro', light-italic;
	overflow: hidden;
}
* {
	color: $colorTexto;
}
/*
Estilos tabla markdown
*/
markdown {
	blockquote {
		padding: 0 1em;
		color: rgba(0,0,0,0.535);
		border-left: 0.25em solid rgba(0,0,0,0.11);
	}

	table {
		border-spacing: 0;
		border-collapse: collapse;
		margin-bottom: 16px;

		th,
		td {
			padding: 6px 13px;
			border: 1px solid #ddd;

			&[align="left"] {
				text-align: left;
			}

			&[align="center"] {
				text-align: center;
			}

			&[align="right"] {
				text-align: right;
			}
		}

		tr:nth-child(2n) {
			background-color: rgba(0,0,0,0.03);
		}
	}

	ul {
		list-style-type: inherit;
		padding-left: 40px !important;
	}

	li {
		list-style-type: inherit;
	}

	ul ul,
	ol ul {
		list-style-type: circle;
	}
}

button{
	height: 40px;
	background-color:white;
	border: 1px solid $gris1;
	border-radius: 5px;
	cursor: pointer;
}
.principal{
	&:hover{
		background-color: $rojoHoverAcciones;
		color: white;
		border: none;
		i {
			color: white;
		}
	}
}
.fa-circle-notch{
	font-size: 60px;
}